{% extends "base.html" %}
{% load static %}

{% block title %}Αναφορά Αξιωματικού Υπηρεσίας{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/anafora_aks_ipiresias.css' %}">
{% endblock %}

{% block content %}
<div class="video-background">
    <video autoplay muted loop>
        <source src="{% static 'img/background.webm' %}" type="video/webm">
    </video>
</div>
<div class="main-content">
    <h1>Αναφορά Αξιωματικού Υπηρεσίας</h1>
    <div class="button-container">
        <button class="button-86" role="button" onclick="location.href='{% url 'anafora_ipiresia' %}'">Αναφορά Υπηρεσίας</button>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/sima_vlavis.docx' %}'">ΕΣΕΕΘΑ Σήμα Βλάβης</button>
    </div>
</div>
{% endblock %}
