{% extends "base.html" %}
{% load static %}

{% block title %}HARP Οδηγίες{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/adme.css' %}">
{% endblock %}

{% block content %}
<div class="video-background">
    <video autoplay muted loop>
        <source src="{% static 'img/back_kepik.webm' %}" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>
<div class="main-content">
    <h1>HARP Οδηγίες</h1>

    <!-- Οδηγίες -->
    <div class="accordion-item">
        <!-- Ανοιχτό Accordion: aria-expanded="true" και εικονίδιο "-" -->
        <button class="accordion-header" aria-expanded="true">
            Οδηγίες <span class="accordion-icon">-</span>
        </button>
        <!-- Περιεχόμενο πάντα ορατό: Αφαιρέθηκε το "hidden" -->
        <div class="accordion-content">
            <div class="button-container">
                <button class="button-80" role="button" onclick="location.href='{% static 'docs/harp_mobile_eset.pdf' %}'">Ρυθμίσεις Συσκευής και ESET</button>
                <button class="button-80" role="button" onclick="location.href='{% static 'docs/harp_ubuntu_18.pdf' %}'">Εγκατάσταση Χρήση για Ubuntu 18</button>
                <button class="button-80" role="button" onclick="location.href='{% static 'docs/harp_vpn.pdf' %}'">Παραμετροποίηση VPN</button>
                <button class="button-80" role="button" onclick="location.href='{% static 'docs/harp_harp.pdf' %}'">Παραμετροποίηση HARP</button>
                <button class="button-80" role="button" onclick="location.href='{% static 'docs/harp_trackharp.pdf' %}'">Παραμετροποίηση Track HARP</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
