{% extends "base.html" %}
{% load static %}

{% block title %}ΚΔΚ | ΑΡΧΙΚΗ{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="video-background">
    <video autoplay muted loop>
        <source src="{% static 'img/back_kepik.webm' %}" type="video/webm">
    </video>
</div>

<div class="main-content">
    <h1>Κέντρο Διαχείρισης ΚΕΠΙΚ</h1>
    <div class="images">
        <img src="{% static 'img/ges.png' %}" alt="GES">
        <img src="{% static 'img/tdb.png' %}" alt="TDB">
    </div>
</div>

<div class="user-info-footer">
    <span>Καλώς ήρθες, {{ user.username }}</span>
    <a href="{% url 'logout' %}">
        <img src="{% static 'img/power_off.png' %}" alt="Αποσύνδεση" title="Αποσύνδεση" class="logout-icon">
    </a>
</div>

{% endblock %}