{% extends "base.html" %}
{% load static %}

{% block title %}Οδηγίες Επικοινωνιακών Συστημάτων{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/odigies_sistimaton.css' %}">
{% endblock %}

{% block content %}
<div class="video-background">
    <video autoplay muted loop>
        <source src="{% static 'img/index_back.webm' %}" type="video/webm">
    </video>
</div>
<div class="main-content">
    <h1>Οδηγίες Επικοινωνιακών Συστημάτων</h1>

    <fieldset class="button-container">
        <legend>CRONOS</legend>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/cronos_readme.pdf' %}'">Οδηγίες CRONOS</button>
    </fieldset>

    <fieldset class="button-container">
        <legend>AIFS</legend>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/aifs_readme_eleftherou_keimenou.pdf' %}'">AIFS Ελευθέρου Κειμένου</button>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/aifs_readme_imerologia_delete.pdf' %}'">AIFS Διαγραφή Ημερολογίων</button>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/aifs_readme_kathari_ekkinisi.pdf' %}'">AIFS Καθαρή Εκκίνηση</button>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/aifs_readme_katharismos_maskon_simaton.pdf' %}'">AIFS Καθαρισμός Μασκών</button>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/aifs_readme_odigies_apostolis.pdf' %}'">AIFS Οδηγίες Αποστολής</button>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/aifs_readme_sfalma_simaton.pdf' %}'">AIFS Σφάλμα Σημάτων</button>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/aifs_readme_simata_elegxou.pdf' %}'">AIFS Σήματα Ελέγχου</button>
    </fieldset>

    <fieldset class="button-container">
        <legend>ΣΔΑ - ΠΥΡΣΕΙΑ</legend>
        <button class="button-86" role="button" onclick="location.href='{% static 'docs/sda_pyrseia_readme.pdf' %}'">Οδηγίες ΣΔΑ - ΠΥΡΣΕΙΑ</button>
    </fieldset>

</div>
{% endblock %}
