{% extends 'base.html' %}
{% load static %}

{% block title %}Posta - Καταχωρήσεις Στρατιωτών{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/posta.css' %}">
    <script src="{% static 'js/posta1.js' %}"></script>
{% endblock %}

{% block content %}
<div class="video-background">
    <video autoplay muted loop>
        <source src="{% static 'img/index_back.webm' %}" type="video/webm">
    </video>
</div>
<div class="form-container">
    <h1>Καταχωρήσεις Υπηρεσίας Στρατιωτών της <span id="formatted-date"></span></h1> <!-- Εδώ θα εμφανιστεί η ημερομηνία -->
    <form method="POST" action="{% url 'posta' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Στοιχεία Υπηρεσίας Στρατιωτών</legend>
            <table border="1">
                <thead>
                    <tr>
                        <th>Α/Α</th>
                        <th>Στοιχεία Στρατιώτη</th>
                        <th>Πόστο</th>
                        <th>Υπηρεσιακό</th>
                        <th>Διανυκτέρευση</th>
                        <th>Μεταβολές/Υπηρεσίες</th>
                        <th>Διάρκεια</th>
                        <th>Από</th>
                        <th>Έως</th>
                        <th>Καθαριότητες</th>
                    </tr>
                </thead>
                <tbody>
                    {% for soldier in soldiers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ soldier.rank }} {{ soldier.last_name }} {{ soldier.first_name }}</td>
                        <td>
                            <select name="post_{{ forloop.counter }}">
                                <option value="">-- Επιλέξτε Πόστο --</option>
                                <option value="HARP">HARP</option>
                                <option value="Helpdesk">Helpdesk</option>
                                <option value="Διαχείριση Δικτύων/Κυκλωμάτων">Διαχείριση Δικτύων/Κυκλωμάτων</option>
                                <option value="Τηλέτυπα">Τηλέτυπα</option>
                                <option value="Τηλεφωνικό">Τηλεφωνικό</option>
                                <option value="Τμήμα ΟΤΕ">Τμήμα ΟΤΕ</option>
                                <option value="ΥΕΣΑ">ΥΕΣΑ</option>
                            </select>
                        </td>
                        <td><input type="text" name="service_{{ forloop.counter }}" /></td>
                        <td><input type="text" name="night_{{ forloop.counter }}" /></td>
                        <td>
                            <select name="change_{{ forloop.counter }}">
                                <option value="">-- Επιλέξτε Μεταβολή/Υπηρεσία --</option>
                                <option value="Απόσπαση">Απόσπαση</option>
                                <option value="Κανονική Άδεια">Κανονική Άδεια</option>
                                <option value="Τιμητική Άδεια">Τιμητική Άδεια</option>
                                <option value="Αγροτική Άδεια">Αγροτική Άδεια</option>
                                <option value="Αναρρωτική Άδεια">Αναρρωτική Άδεια</option>
                                <option value="Φοιτητική Άδεια">Φοιτητική Άδεια</option>
                                <option value="Υπηρεσιακό">Υπηρεσιακό</option>
                                <option value="ΤΗΠ">ΤΗΠ</option>
                                <option value="ΤΦ">ΤΦ</option>
                                <option value="Θ">Θ</option>
                                <option value="ΟΥ">ΟΥ</option>
                                <option value="Ε">Ε</option>
                                <option value="ΕΥ">ΕΥ</option>
                                <option value="ΕΦΕΔΡ">ΕΦΕΔΡ</option>
                            </select>
                        </td>
                        <td><input type="text" name="duration_{{ forloop.counter }}" /></td>
                        <td><input type="text" name="from_{{ forloop.counter }}" /></td>
                        <td><input type="text" name="to_{{ forloop.counter }}" /></td>
                        <td><input type="text" name="cleaning_{{ forloop.counter }}" /></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>

    <div class="table-wrapper">
        <!-- Συγκεντρωτικά Στοιχεία -->
        <fieldset>
            <legend>Συγκεντρωτικά Στοιχεία</legend>
            <table border="1" id="summary-table">
                <tr>
                    <th>Δύναμη 1ου Λόχου</th>
                    <td id="total-force">{{ soldiers|length }}</td>
                </tr>
                <tr>
                    <th>Απουσίες</th>
                    <td id="absences">0</td>
                </tr>
                <tr>
                    <th>Παρουσίες</th>
                    <td id="present">0</td>
                </tr>
            </table>
        </fieldset>
        
        <!-- Ειδικά Στοιχεία -->
        <fieldset>
            <legend>Ειδικά Στοιχεία</legend>
            <table border="1" id="special-details">
                <tr>
                    <th>Τιμητικές Άδειες</th>
                    <td id="honor-leave">0</td>
                </tr>
                <tr>
                    <th>Κανονικές Άδειες</th>
                    <td id="regular-leave">0</td>
                </tr>
                <tr>
                    <th>Υπηρεσιακά</th>
                    <td id="service-leave">0</td>
                </tr>
                <tr>
                    <th>ΕΥ</th>
                    <td id="ey-leave">0</td>
                </tr>
                <tr>
                    <th>Απόσπαση</th>
                    <td id="detachment">0</td>
                </tr>
                <tr>
                    <th>Σύνολο</th>
                    <td id="total-special">0</td>
                </tr>
            </table>
        </fieldset>
    </div>
        

        <fieldset>
            <legend>Υπηρεσία Σήμερα και Εφεδρικοί</legend>
            <table border="1" id="current-service">
                <thead>
                    <tr>
                        <th>Στοιχεία Στρατιώτη</th>
                        <th>Μεταβολές / Υπηρεσίες</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Οι γραμμές θα γεμίσουν από το JavaScript -->
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>Εξοδούχοι</legend>
            <table id="exodouchoi-table" border="1">
                <thead>
                    <tr>
                        <th>Α/Α</th>
                        <th>Στοιχεία Στρατιώτη</th>
                        <th>Υπηρεσιακό</th>
                        <th>Διανυκτέρευση</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Εδώ θα προστίθενται δυναμικά οι στρατιώτες -->
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>Κατάλογος Κανονικών Αδειών</legend>
            <table id="regular-leave-table" border="1">
                <thead>
                    <tr>
                        <th>Α/Α</th>
                        <th>Στοιχεία Στρατιώτη</th>
                        <th>Είδος Άδειας</th>
                        <th>Από</th>
                        <th>Έως</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Οι γραμμές θα γεμίσουν δυναμικά από το JavaScript -->
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>Κατάλογος Ειδικών Περιπτώσεων</legend>
            <table id="special-cases-table" border="1">
                <thead>
                    <tr>
                        <th>Α/Α</th>
                        <th>Στοιχεία Στρατιώτη</th>
                        <th>Ειδική Περίπτωση</th>
                        <th>Διάρκεια</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Οι γραμμές θα γεμίσουν δυναμικά από το JavaScript -->
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>Κατάλογος Τιμητικών Αδειών</legend>
            <table id="honor-leave-table" border="1">
                <thead>
                    <tr>
                        <th>Α/Α</th>
                        <th>Στοιχεία Στρατιώτη</th>
                        <th>Είδος Άδειας</th>
                        <th>Διάρκεια</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Οι γραμμές θα γεμίσουν δυναμικά από το JavaScript -->
                </tbody>
            </table>
        </fieldset>
        <button type="submit" class="submit-button">Υποβολή Ημερήσιου Δυναμολογίου</button>
    </form>
</div>

<script>
    // Ανανέωση της ημερομηνίας με την τρέχουσα ημερομηνία
    const currentDate = new Date().toLocaleDateString('el-GR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
    document.getElementById('current-date').textContent = currentDate;
</script>

{% endblock %}