{% extends "base.html" %}
{% load static %}

{% block title %}ΠΥΡΣΕΙΑ ΟΔΗΓΙΕΣ{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/pyrseia.css' %}">
{% endblock %}

{% block content %}
<div class="video-background">
    <video autoplay muted loop>
        <source src="{% static 'img/back_kepik.webm' %}" type="video/webm">
    </video>
</div>
<div class="main-content">
    <h1>ΠΥΡΣΕΙΑ ΟΔΗΓΙΕΣ</h1>

    <!-- Οδηγίες (Accordion - Πάντα Ανοιχτό) -->
    <div class="accordion-item">
        <div class="accordion-header always-open" aria-expanded="true">
            Οδηγίες <span class="accordion-icon">-</span>
        </div>
        <div class="accordion-content">
            <div class="button-container">
                <button class="button-80" role="button" onclick="location.href='{% static 'docs/pyrseia_instr.pdf' %}'">ΠΥΡΣΕΙΑ - Οδηγίες Διαχειριστή</button>
                <button class="button-80" role="button" onclick="location.href='{% static 'docs/pyrseia_instr_2.pdf' %}'">ΠΥΡΣΕΙΑ - Οδηγίες Διαχειριστή 2</button>
                <button class="button-80" role="button" onclick="location.href='{% static 'docs/pyrseia_aksyp.pdf' %}'">ΠΥΡΣΕΙΑ - Οδηγίες ΑΞΥΠ</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
